/* Sidebar.css */
.titl {
  width: 158.76px;
   height: 113px ;
    margin-left:280px;
    margin-top:40px;
}

.titl1 {
  width: 158.76px;
   height: 113px ;
    margin-left:40px;
    margin-top:40px;
}

.para1 {
   color: white;
    margin-top: -90px ;
     margin-left:300px;
}

.para2 {
   color: white;
    margin-top: -90px;
    margin-left:60px;
}

.para3 {
  color: white;
    margin-top: -90px ;
     margin-left:80px ;
}


  .light {
    width:800px;
    height:350px;
    border-radius:6px;
    margin-top:250px;
    margin-left:-950px;
  }

  .piecht1 {
    width: 400px;
    height:300px;
     margin-left:-1000px;
     margin-top:690px;
}

.piecht2 {
  width: 400px;
  height:300px;
   margin-left:-450px;
    margin-top:-300px;
}

.head-d1 {
  margin-left:-800px;
      margin-top:640px;
}

.head-d2 {
  margin-left:300px;
   margin-top:650px;
}
    
 

  .notice{
  
margin-left: -950px;
margin-top: 1050px;
  width: 900px;
  height: 200px;

  }

  .calendar {
    margin-left: -900px;
    margin-top: 1300px;
  
    width: 440px;
  height: 280px;
  }

  .todo {
    margin-left: 70px;
  margin-top: 1300px;
padding-bottom: 60px;
    width: 255px;
    height: 270px;
  }

  @media screen and (max-width: 767px) and (min-width:551px) {   
  
    .titl {
      width: 80px;
       height: 70px ;
        margin-left:320px;
        margin-top:40px;
    }
    
    .titl1 {
      width: 80px;
      height: 70px ;
        margin-left:27px;
        margin-top:40px;
    }
    
    .para1 {
       color: white;
        margin-top: -60px ;
         margin-left:320px;
         font-size: x-small;
    }
    
    .para2 {
       color: white;
        margin-top: -60px;
        margin-left:30px;
        font-size: x-small;
    }
    
    .para3 {
      color: white;
        margin-top: -60px ;
         margin-left:35px ;
         font-size: x-small;
    }
    
    
      .light {
        width:480px;
        height:300px;
        margin-top:150px;
        margin-left:-500px;
      }
    
      .piecht1 {
        width: 150px;
        height:150px;
         margin-left:-250px;
         margin-top:530px;
    }
    
    .piecht2 {
      width: 150px;
      height:150px;
       margin-left:-450px;
        margin-top:-150px;
    }
    
    .head-d1 {
      margin-left:-340px;
          margin-top:500px;
    }
    
    .head-d2 {
      margin-left:-200px;
       margin-top:500px;
    }
        
     
    
      .notice{
      
    margin-left: -100px;
    margin-top: 750px;
      width: 400px;
      height: 100px;
    
      }
    
      .calendar {
        margin-left: -450px;
        margin-top: 1000px;
        width: 340px;
      height: 200px;
      }
    
      .todo {
        margin-left: 70px;
      margin-top: 1000px;
    padding-bottom: 60px;
        width: 255px;
        height: 270px;
      }
    
   
  }

  @media screen and (max-width: 551px) {   
  
    .titl {
      width: 60px;
       height: 50px ;
        margin-left:330px;
        margin-top:40px;
    }
    
    .titl1 {
      width: 60px;
      height: 50px ;
        margin-left:5px;
        margin-top:40px;
    }
    
    .para1 {
        margin-top: -45px ;
         margin-left:330px;
         font-size: xx-small;
    }
    
    .para2 {
        margin-top: -45px;
        margin-left:5px;
        font-size: xx-small;
    }
    
    .para3 {
        margin-top: -45px ;
         margin-left:5px ;
         font-size: xx-small;
    }
    
    
      .light {
        width:300px;
        height:200px;
        margin-top:150px;
        margin-left:-390px;
      }
    
      .piecht1 {
        width: 100px;
        height:100px;
         margin-left:-140px;
         margin-top:460px;
    }
    
    .piecht2 {
      width: 100px;
      height:100px;
       margin-left:-300px;
        margin-top:-110px;
    }
    
    .head-d1 {
      margin-left:-100px;
          margin-top:400px;
    }
    
    .head-d2 {
      margin-left:-300px;
       margin-top:400px;
    }
        
     
    
      .notice{
      
    margin-left: -150px;
    margin-top: 600px;
      width: 200px;
      height: 50px;
    
      }
    
      .calendar {
        margin-left: -200px;
        margin-top: 700px;
        width: 150px;
      height: 100px;
      }
    
      .todo {
        margin-left: 10px;
      margin-top: 700px;
        width: 150px;
        height: 200px;
      }
    
  }